* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

/* for priority styles dynamically */
.high-priority {
  background-color: #feecec;
  color: #ef4444;
}
.medium-priority {
  background-color: #fff6d1;
  color: #f59e0b;
}
.low-priority {
  background-color: #eeeff2;
  color: #9ca3af;
}

/* isOpened or not */
.Opened {
  background-color: #00a96e;
  color: white;
}
.Closed {
  background-color: #9ca3af;
  color: white;
}

/* for border of opened and closed issue */
.open-border {
  border-top: 5px solid #00a96e;
}
.closed-border {
  border-top: 5px solid #a855f7;
}
